# TestResults

## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**cloudLoadTestSolutionUrl** | **string** | The uri to the test run results file. | [optional] 
**counterGroups** | [**\FrankHouweling\AzureDevOpsClient\Clt\Model\CounterGroup[]**](CounterGroup.md) |  | [optional] 
**diagnostics** | [**\FrankHouweling\AzureDevOpsClient\Clt\Model\Diagnostics**](Diagnostics.md) | The object contains diagnostic details | [optional] 
**resultsUrl** | **string** | The uri to the test run results file. | [optional] 

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)


